// ______-Regular 
@font-face 
    font-family '-Regular'
    src url('/fonts/______-Regular.ttf')
    font-weight normal
    font-style normal
// ______-Medium     
@font-face 
    font-family '-Medium'
    src url('/fonts/______-Medium.ttf')
    font-weight 700
    font-style normal
// ______-Bold     
@font-face 
    font-family '-Bold'
    src url('/fonts/______-Bold.ttf')
    font-weight 900
    font-style normal
// ______-Italic     
@font-face 
    font-family '-Italic'
    src url('/fonts/______-Italic.ttf')
    font-weight normal
    font-style normal


RegularText = 
    font-family '-Regular', sans-serif
MediumText = 
    font-family '-Medium', sans-serif
BoldText = 
    font-family '-Bold', sans-serif
ItalicText = 
    font-family '-Italic', sans-serif